body {
    background-image: url(../Images/back.jpg);
    background-size: cover;
    overflow: auto;
}

.box {
    padding: 600px 250px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    background: pink;
    
    
}

 header
 {

 }

header, footer {
    margin-left: 45%;
    margin-right: 25%;
}

ul{
    margin-left:40px;
}

ul li
{
    list-style:none;
    display: inline-block;
   line-height:50px;
}

ul li a {
        text-decoration: none;
        font-size: 14px;
        font-family: Arial;
        color: black;
        padding:0 50px;
        display:block;
         
    }

ul li a:hover
{
    color:orangered;
}

nav {
    width: 50%;
    height: 40px;
    background-color: bisque;
    margin-left:25%;
    margin-right: 25%;

}