/* Globalne - Początek */

body {
    background-image: url(../Images/back.jpg);
    width: 100%;
    height: 100%;
    overflow: auto;
    display:flex;
    flex-direction:column;
    align-items:center;
    overflow-x:hidden;
    font-family:Verdana;
}

.box {
    width: 60%;
    min-height: 125VH;
    height: auto;
    box-shadow: 2px 0px 50px 2px rgba(0,0,0,0.75);
    margin-bottom: 7px;
    border-radius: 2px;
    background-color: #E8E8E8;
    display: flex;
}



header {
    background-image: url(../Images/logo_back.jpg);
    border-radius: 2px;
    background-size: 100%;
    display: flex;
    justify-content: space-between;
    width: 60%;
    box-shadow: 2px 0px 50px 2px rgba(0,0,0,0.75);
    margin-bottom: 7px;
    border-radius: 2px;
}



    header h2 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 5px;
        margin-right: 5px;
        color: #383838;
    }

    header h1 {
        background-image: url(../Images/logo.png);
        width: 305px;
        height: 100px;
        background-size: 100%;
        margin-top: 0;
    }

footer {
    background-image: url(../Images/logo_back.jpg);
    border-radius: 2px;
    background-size: 100%;
    width: 59%;
    box-shadow: 2px 0px 50px 2px rgba(0,0,0,0.75);
    border-radius: 2px;
    height: 85px;
    padding: 9.515px;
}

.footer-content{
    display:flex;
    flex-direction:row;


}

    .footer-content h3 {
        margin-bottom: 0px;
        margin-top: 0px;
        color:cornflowerblue;
    }

    .footer-content p {
        width: 200px;
        font-size: 12px;
        margin-top: 2px;
        margin-bottom: 2px;
        color: #383838;
    }



nav {
    z-index: 3;
    width: 60%;
    margin-bottom: 7px;
    box-shadow: 2px 0px 50px 2px rgba(0,0,0,0.75);
}

    nav ul {
        background-color: inherit;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }

        nav ul li {
            float: left;
            width: 25%;
            height: 40px;
            background-color: black;
            line-height: 40px;
            text-align: center;
            font-size: 20px;
            color: white;
            border-radius: 4px 4px 4px 4px;
            margin-right: 5px;
        }

.product-list {
    display: flex;
    flex-direction: column;
    opacity: .8;
    border-radius: 4px;
}

    .product-list > li {
        width: 100%;
    }

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
}

    nav ul li a:hover {
        color: green;
    }

nav ul li ul li {
    display: none;
    opacity: .8;
}

nav ul li:hover ul li {
    display: block;
}

fieldset {
    border-color: #383838;
}
/* Globalne - Koniec */

/* Koszyk.html - Początek */

.adress {
    color: #383838;
    font-size: 20px;
    font-weight: 650;
    border-radius: 6px;
    width: 250px;
    height: auto;
    margin-top:100px;
    margin-bottom: 100px;
}

.contact {
    color: #383838;
    font-size: 20px;
    font-weight: 650;
    border-radius: 6px;
    width: 250px;
    height: auto;
}

    .contact legend, .adress legend, .payment legend {
        font-weight: 500;
        background-color: black;
        color: white;
        border-radius: 6px 6px 6px 6px;
        text-align: center;
        display:block;

        
    }




    .contact label, .adress label, .payment label {
        float: left;
        width: 200px;
        color: #383838;
    }

    .contact input, .adress input, .payment input {
        float: left;
        width: 200px;
        color: #383838;
    }

.facture_check{

    bottom:22px;
    width:18px;
    height:18px;


    
}



.payment {

    color: #383838;
    font-size: 20px;
    font-weight: 650;
    border-radius: 6px;
    width: 250px;
    height: auto;
}

.guarantee ol {
    font-size: 12px;
    color: #383838;
    border-radius: 6px;
    height: auto;
    width: 310px;
    font-weight: 600;
    z-index: 1;
    margin-left: 390px;
    margin-top: 15px;
    border:2px solid;
}

.payButton {
    box-shadow: inset 0px 1px 0px 0px #dcecfb;
    background: linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    background-color: #bddbfa;
    border-radius: 10px;
    border: 2px solid #84bbf3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528ecc;
    position: absolute;
    top: 1100px;
    left: 850px;
}

    .payButton:hover {
        background: linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
        background-color: #80b5ea;
    }

.payButton:active {
        position: absolute;
        top: 1px;
    }

.pay-information{
    margin-left:50px;
    margin-top:15px;

}

/* Koszyk.html - Koniec */


/* Kontakt.html - Początek */

.business-card
{
    margin-left:50px;
    width:500px;
}

    .business-card h1, .business-card h2, .business-card h3 {
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: #383838;
    }

.poland-map {
    display: flex;
    width: 475px;
    height: 400px;
    border-radius:4px;
}

.issue-label{

}
.contact-issue {
    font-size: 60px;
    font-weight: 650;
    border-radius: 6px;
    height: auto;
    width: 373px;
    color: #383838;
}

    .contact-issue > input {
        width: 368px;
        font-size: 20px;
        height: 30px;
        color: #383838;
    }
    .contact-issue select {
        width: 373px;
        font-size: 20px;
        height: 30px;
        margin-bottom: 35px;
        color: #383838;
    }

.company-contact {
    margin-left: 170px;
    line-height: 40px;
    font-size: 22px;
    color: #383838;
}
/* Kontakt.html - Koniec */

/* dobor-rezystora.html - Początek */

.diode-voltage {

    height:12%; 
    width:55%;
    display:inline-block
}
.diode-voltage-box {
    margin-top: -60px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    font-size: 16px;
    color: #383838;
}

.diode-voltage-note {
    text-align: center;
    margin-top: -4px;
    font-size: 12px;
    color: #383838;
}
.diode-voltage-box h1, .diode-voltage-box h2, .diode-voltage-box h3 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #383838;
}

.diode-voltage-box h4 {
    font-size: 70px;
    text-shadow: 0px 0px 15px #FF0000;
    margin-bottom: 30px;
    color: #383838;
}

.calculator-field {
    border: solid 3px;
    margin-left: 150px;
    margin-bottom: 50px;
    color: #383838;
}

/* dobor-rezystora.html - Koniec*/

/* Produkty.html - Początek*/
.product-box {
    display: flex;
    flex-direction: column;
    margin:50px;
}

    .product-box img {
        width: 170px;
        height: 170px;
        margin-bottom: 5px;
        border-radius: 4p
    }

    .product-box span {
        font-size: 20px;
        font-weight: 600;
        color: #383838;
    }

    .product-box a {
        display: flex;
        margin-bottom: 30px;
        border: dotted;
        border-radius: 6px;
        padding: 10px;
        border-color: black;
    }
    .product-box span:hover {
        color: red;
    }
.text {
    color: #383838;
    font-size: 16px;
    margin-left: 30px;
}
/* Produkty.html - Koniec*/

/* index.html - Początek*/

.content {
    margin: 2%;
    width: 100%;
    color: #383838;
}

.banner {
    border-radius: 4px;
    height: 150px;
    width: 100%;
    background-image: url(../Images/banner_1.jpg);
    animation: animate 40s ease-in-out infinite;
    background-size: cover;
}

@keyframes animate {
    0% {
        background-image: url(../Images/banner_2.jpg);

    }

    20% {
        background-image: url(../Images/banner_3.jpg);

    }

    40% {
        background-image: url(../Images/banner_4.jpg);

    }

    60% {
        background-image: url(../Images/banner_5.jpg);

    }
    80% {
        background-image: url(../Images/banner_6.jpg);

    }

    
}

.info-box {
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, rgba(48,194,198,1) 11%, rgba(241,241,241,1) 52%, rgba(48,194,198,1) 94%);
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 4px;
    display: flex;
}

.info {
    height: 153px;
    width: 45px;
    text-align: center;
    padding-top: 47px;
    font-size: 70px;
    font-family: monospace;
    color: white;
    margin-left: 30px;
    background: darkblue;
    margin-right:30px;

}
/* index.html - Koniec*/