body {
    background-image: url(../Images/back.jpg);
    background-size: cover;
    overflow: auto;
}

.box {
    padding: 600px 250px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 0;
    background-image: url(../Images/box.jpg);
    border-width: 10px;
    border-color: darkgray;
    border-style: groove;



}

/* Koszyk.html - Początek */

.adres {
    position: relative;
    bottom: 430px;
    right: 200px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 650;
    height: 300px;
    border: 4px;
    border-radius: 6px;
    border: groove;
    width: 250px;
    height: auto;
}

.kontakt {
    position: relative;
    bottom: 480px;
    right: 200px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 650;
    height: 300px;
    border: 4px;
    border-radius: 6px;
    border: groove;
    width: 250px;
    height: auto;
}

    .kontakt legend, .adres legend, .zaplata legend {
        font-weight: 500;
        background-color: black;
        color: white;
        border-radius: 6px 6px 6px 6px;
        text-align: center;
        display:block;

        
    }




 .kontakt label,.adres label,.zaplata label {
            float: left;
            width: 200px;
        }

.kontakt input,.adres input,.zaplata input {
        float: left;
        width: 200px;
    }

.faktura_check{
    position:relative;
    bottom:22px;
    width:18px;
    height:18px;

    
}

.box .do_zaplaty {
    position: relative;
    bottom: 925px;
    left: 125px;
    width: 150px;
    height: 50px;
    font-family: Arial;
    font-size: 25px;
    font-weight: 575;
   
}

.zaplata {
    position: relative;
    bottom: 380px;
    right: 200px;
    font-family: Arial;
    font-size: 20px;
    font-weight: 650;
    height: 300px;
    border: 4px;
    border-radius: 6px;
    border: groove;
    width: 250px;
    height: auto;
}

.gwarancja ol {
    position: relative;
    font-family: Arial;
    font-size: 12px;
    background-color: none;
    color: black;
    bottom: 1050px;
    left: 250px;
    border: 4px;
    border-radius: 6px;
    border: groove;
    height: auto;
    width: 300px;
    font-weight: 600;
    z-index:1;
}

.payButton {
    box-shadow: inset 0px 0px 22px 0px #3dc21b;
    background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
    background-color: #44c767;
    border-radius: 12px;
    border: 2px solid #4d0505;
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 30px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    position: absolute;
    top:1100px;
    left:850px;
}

.payButton:hover {
        background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
        background-color: #5cbf2a;
    }

.payButton:active {
        position: absolute;
        top: 1px;
    }

/* Koszyk.html - Koniec */
header {
    background-image: url(../Images/logo_back.jpg);
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 4%;
    border-radius: 6px 6px 6px 6px;
    background-size: 100%;
    border-width: 10px;
    border-color: darkgray;
    border-style: groove;
    display: flex;
    justify-content: space-between;
}



header h2 {
    font-size: 16px;
    line-height: 20px;
    margin-top:0;
}

header h1 {
    background-image: url(../Images/logo.png);
    width: 305px;
    height: 100px;
    background-size: 100%;
    margin-top: 0;
}

footer {
    margin-left: 45%;
    margin-right: 25%;
}

nav {
    margin-left: 25.2%;
    position:absolute;
    z-index: 3;
    top:210px;
}

nav ul {
    padding: 0px;
    list-style: none;
}

nav ul li {
        
        float: left;
        width: 230px;
        height: 40px;
        background-color: black;
        line-height: 40px;
        text-align: center;
        font-size: 20px;
        font-family: Arial;
        color: white;
        margin-right: 2px;
        border-radius: 3px 3px 3px 3px;
        
}

nav ul li a {
            text-decoration: none;
            color: white;
            display: block;
}

    nav ul li a:hover {
        color: green;
        
    }

    nav ul li ul li {
        display: none;
        opacity: .8;

    }

    nav ul li:hover ul li {
        display: block;

    }

